<div class="container">
<div class="sentence question">
    <span class="message"><%= @question %></span>
    <span class="person"><em><br>-You</em></span>
</div>
</div>
<div class="container">
<div class="sentence answer">
    <span class="message"><strong><%= @answer %></strong></span>
    <span class="person"><em><br>-Your coach</em></span>
</div>
</div>
<div class="container">
<div>
</div>
    <a href="/ask">Ask another question</a>
</div>
