<div class="container">
<h1>Stupid Coaching</h1>
<div class="card1">
<form class="form" action="/answer" method="get">
  <p>What will you say to coach?</p>
</div>
</div>
<div class="container">
  <div class="card2">
  <input class="input" type="text" name="question">
  <input class="btn" type="submit" value="Ask!">
  </div>
</div>
</form>
